<div *ngIf="sService.playerNumber == undefined; else defined">
</div>
<ng-template #defined>
  <nav class="navbar navbar-expand-lg navbar-light header" style="background-color: #F069B4;">
    <div class="container-fluid">
      <!-- Just an image -->
        <a class="navbar-brand" >
          <img src="\assets\layout\header\images\social-network.svg" width="45" height="45" alt="">
        </a>
      <a class="navbar-brand" href="#">Graphs4Social</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Network</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Our Team
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Contact us</a></li>
              <li><a class="dropdown-item" href="#">About us</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">FAQs</a></li>
              <li><a class="dropdown-item" href="/terms-and-cond">Terms & Conditions</a></li>
            </ul>
          </li>
        </ul>
        <div class="user-number">
          Number of users: {{ sService.playerNumber }}
        </div>
        <a href="#">
          <button class="btn btn-info logout" type="submit" (click)="logout()">Logout</button></a>
      </div>
    </div>
  </nav>
</ng-template>