<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            
            <form *ngIf=this.showForm>
                <div [formGroup]="getNetworkForm" class="mb-3" ngNativeValidate>
                    <label for="inputScope" class="form-label">Scope</label>
                    <input [ngClass]="{ 'is-invalid': f['scope'].errors && (f['scope'].dirty || f['scope'].touched) }" 
                        type="text" class="form-control" formControlName="scope" id="inputScope">
                    <div *ngIf="f['scope'].invalid" class="invalid-feedback">
                        <div *ngIf="f['scope'].errors?.['required'] && (f['scope'].dirty || f['scope'].touched)">{{ getErrorMessageScopeRequired() }}</div>
                        <div *ngIf="f['scope'].errors?.['min'] || f['scope'].errors?.['max']">{{ getErrorMessageScopeInvalid() }}</div>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary" (click)="getPlayersByScope()" [disabled]="getNetworkForm.invalid">Get Network</button>

            </form>
            

        </div>
    </div>
</div>


<ngx-spinner></ngx-spinner>