.dashboard-container {
    position: absolute;
    height: 100%;
    width: 61px;
    background-color: #ffffff;
    transition: width 0.4s;
  }

.dashboard-container:hover {
    width: 12%;
}

  .container-fluid{
    padding: 0;
 }

mat-drawer {
    background-color: #eee;
}
  
mat-nav-list {
    width: 60px;
    overflow: hidden;
    transition: width 0.3s;
    top: 50%;
}

mat-nav-list h4 {
    opacity: 0;
    color: #444;
    text-align: left;
}
  
mat-drawer:hover mat-nav-list {
    width: 180px;
}

mat-drawer:hover mat-nav-list h4 {
    opacity: 1;
    margin: auto 10px;
    transition: all 0.1s ease-in 0.2s;
}

/*.dashboard-content{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
} */

.dashboard-content{
    right: 0;
    bottom: 0;
    left: 60px;
    top: 65px;
}

button{
    padding: 0;
    border: none;
    background: none;
    width: 100%;
}
  