<div class="container-fluid">
	<div class="row">
		<div class="col-2">
			<mat-drawer-container class="dashboard-container mat-typography">
				<mat-drawer #drawer mode="side" disableClose="true" opened="true">
					<mat-nav-list>
						
						<button [routerLink]="['/get-players']">
							<mat-list-item>
								<mat-icon mat-list-icon color="accent">people</mat-icon>
								<h4>Leaderboard</h4>
							</mat-list-item>
						</button>
			
						<button [routerLink]="['/approve-request']">
							<mat-list-item>
								<mat-icon mat-list-icon color="accent">check_circle</mat-icon>
								<h4>Approve Requests</h4>
							</mat-list-item>
						</button>
			
						<button [routerLink]="['/accept-request']">
							<mat-list-item>
								<mat-icon mat-list-icon color="accent">check_circle_outline</mat-icon>
								<h4>Accept Requests</h4>
							</mat-list-item>
						</button>
			
						<button [routerLink]="['/request-introduction']">
							<mat-list-item>
								<mat-icon mat-list-icon color="accent">compare_arrows</mat-icon>
								<h4>Introduction Request</h4>
							</mat-list-item>
						</button>
			
						<button [routerLink]="['/get-network']">
							<mat-list-item>
								<mat-icon mat-list-icon color="accent">linear_scale</mat-icon>
								<h4>Network</h4>
							</mat-list-item>
						</button>
			
						<button [routerLink]="['/register-player']">
							<mat-list-item>
								<mat-icon mat-list-icon color="accent">person</mat-icon>
								<h4>New Account</h4>
							</mat-list-item>
						</button>
			
						<button [routerLink]="['/update-player']">
							<mat-list-item>
								<mat-icon mat-list-icon color="accent">account_circle</mat-icon>
								<h4>My Profile</h4>
							</mat-list-item>
						</button>
					</mat-nav-list>
				</mat-drawer>
			</mat-drawer-container>
		</div>
	</div>
</div>
