<div class="container-fluid">
	<div class="row">
		<div class="col-2">
			<mat-drawer-container class="dashboard-container mat-typography">
				<mat-drawer #drawer mode="side" disableClose="true" opened="true">
					<mat-nav-list>
						<button [routerLink]="['/get-feed']">
							<mat-list-item>
								<mat-icon mat-list-icon color="accent">notifications_active</mat-icon>
								<h4>Activity Feed</h4>
							</mat-list-item>
						</button>
						<button [routerLink]="['/leaderboard']">
							<mat-list-item>
								<mat-icon mat-list-icon color="accent">people</mat-icon>
								<h4>Leaderboard</h4>
							</mat-list-item>
						</button>
						<button [routerLink]="['/suggest-players']">
							<mat-list-item>
								<mat-icon mat-list-icon color="accent">person_add</mat-icon>
								<h4>Suggest Players</h4>
							</mat-list-item>
						</button>
						<button [routerLink]="['/group-search']">
							<mat-list-item>
								<mat-icon mat-list-icon color="accent">person_add</mat-icon>
								<h4>Group Search</h4>
							</mat-list-item>
						</button>
						<button [routerLink]="['/tag-cloud-multi']">
							<mat-list-item>
								<mat-icon mat-list-icon color="accent">cloud</mat-icon>
								<h4>Tag Cloud</h4>
							</mat-list-item>
						</button>
						<button [routerLink]="['/ai-paths']">
							<mat-list-item>
								<mat-icon mat-list-icon color="accent">directions</mat-icon>
								<h4>Paths</h4>
							</mat-list-item>
						</button>
						<button [routerLink]="['/approve-request']">
							<mat-list-item>
								<mat-icon mat-list-icon color="accent">check_circle</mat-icon>
								<h4>Approve Requests</h4>
							</mat-list-item>
						</button>
			
						<button [routerLink]="['/accept-request']">
							<mat-list-item>
								<mat-icon mat-list-icon color="accent">check_circle_outline</mat-icon>
								<h4>Accept Requests</h4>
							</mat-list-item>
						</button>
			
						<button [routerLink]="['/request-introduction']">
							<mat-list-item>
								<mat-icon mat-list-icon color="accent">compare_arrows</mat-icon>
								<h4>Introduction Request</h4>
							</mat-list-item>
						</button>
						<button [routerLink]="['/get-network']">
							<mat-list-item>
								<mat-icon mat-list-icon color="accent">linear_scale</mat-icon>
								<h4>Network</h4>
							</mat-list-item>
						</button>
						<button [routerLink]="['/edit-connection']">
							<mat-list-item>
								<mat-icon mat-list-icon color="accent">settings_ethernet</mat-icon>
								<h4>Edit Connection</h4>
							</mat-list-item>
						</button>

						<button [routerLink]="['/search-player']">
							<mat-list-item>
								<mat-icon mat-list-icon color="accent">search</mat-icon>
								<h4>Search Players</h4>
							</mat-list-item>
						</button>
			
						<a href="/profile/{{ currentPlayerEmail }}">
							<button>
								<mat-list-item>
									<mat-icon mat-list-icon color="accent">account_circle</mat-icon>
									<h4>My Profile</h4>
								</mat-list-item>
							</button>
						</a>
					</mat-nav-list>
				</mat-drawer>
			</mat-drawer-container>
		</div>
	</div>
</div>
