<div *ngIf="requests==undefined; else defined">
    
</div>

<div *ngIf="error">
    <div class="container">
        <div class="row justify-content-center">
            <h1 class="font-weight-bold my-5 mb-3 text-center">There was an error trying to obtain your requests, please try again later.</h1>
            <p></p>
            <div class="col-4">
                <button class="btn back btn-primary w-100" (click)="goBack()">Go back!</button>
            </div>
            <div class="col-4">
            <button class="btn back btn-primary w-100" (click)="refresh()">Try again now!</button>
            </div>
        </div>
    </div>
</div>

<ng-template #defined>
    <div class="container my-5">
        <div *ngIf="fullRequests.length; else noRequests">
            <h2>Choose the request to approve</h2>
            <mat-accordion class="example-headers-align">
                <mat-expansion-panel *ngFor="let r of fullRequests; let i = index" [expanded]="step === i" (opened)="setStep(i);getConnectionById(r.id);clearSuccess()" (closed)="setStep(-1)" hideToggle>
                  <mat-expansion-panel-header>
                      <div class="up-down-sign">
                        <div class="down-sign" *ngIf="step != i">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gray" class="bi bi-arrow-down" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
                            </svg> 
                          </div>
    
                          <div class="up-sign" *ngIf="step === i">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gray" class="bi bi-arrow-up" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
                              </svg>
                          </div>
                      </div>
                      


                    <mat-panel-title>
                      {{ r.player.name }}
                    </mat-panel-title>
                    <mat-panel-title>
                        {{ r.target.name }}
                      </mat-panel-title>
                    <mat-panel-description>
                        {{ r.playerToMiddleManMessage }}
                      </mat-panel-description>
                  </mat-expansion-panel-header>

                  
                  <form>

                    <div [formGroup]="requestForm" class="mb-3" ngNativeValidate>
                        <label for="inputName" class="form-label">Message to Target Player</label>
                        <input [ngClass]="{ 'is-invalid': f['middleManToTargetMessage'].errors && (f['middleManToTargetMessage'].dirty || f['middleManToTargetMessage'].touched) }" 
                            type="text" class="form-control" formControlName="middleManToTargetMessage" id="inputMiddleManToTargetMessage">
                            <div *ngIf="f['middleManToTargetMessage'].errors" class="invalid-feedback">
                                <div *ngIf="f['middleManToTargetMessage'].errors?.['required'] && (f['middleManToTargetMessage'].dirty || f['middleManToTargetMessage'].touched)">{{ getErrorMessageMiddleManToTargetMessageRequired() }}</div>
                                <div *ngIf="f['middleManToTargetMessage'].errors?.['min'] || f['middleManToTargetMessage'].errors?.['max']">{{ getErrorMessageMiddleManToTargetMessageInvalid() }}</div>
                            </div>
                    </div>
    
                    <div class="row justify-content-center">
                        <div class="col-3">
                            <button type ="submit" class="btn back btn-primary w-100" (click)="approve()" [disabled]="requestForm.invalid">Approve Request</button>
                        </div>
                        <div class="col-3">
                            <button type ="submit" class="btn back btn-primary w-100" (click)="disapprove()">Disapprove Request</button>
                        </div>
                    </div>
                    

    
                            <div class="my-3">
                                <div *ngIf="success!=undefined">
                                    <div *ngIf="success">
                                        <div class="alert alert-success" role="alert">
                                            {{ successMessage }}
                                        </div>
                                    </div>
                                    <div *ngIf="!success">
                                        <div class="alert alert-danger" role="alert">
                                            {{ errorMessage }}
                                        </div>
                                    </div>
                                </div>
                    </div>
                    
    
                </form>
                
                


                </mat-expansion-panel>              
              </mat-accordion>
        </div>
            <ng-template #noRequests>
                <h1 class="font-weight-bold my-5 mb-4 text-center">You don't have any pending requests.</h1>
                <p></p>
                <button class="btn back btn-primary w-30" (click)="goBack()">Go back!</button>
            </ng-template>
    </div>
</ng-template>

















<ngx-spinner></ngx-spinner>