<div class="row justify-content-center">
    <div class="col-6 about-body">
        <div class="about-body-title mb-3">
            Get to know us :)
        </div>
            <p>Graphs4Social, S.A. is a startup located in Porto (Portugal) whose mission is to provide
                manipulation and visualization of social network graphs. The company recently decided to expand the
                its product portfolio, entering the gaming area but keeping the focus on the social network graphs.
            </p>  
    </div>
</div>