<div *ngIf="userFriends==undefined; else defined">
    
</div>

<ng-template #defined>
    <div *ngIf="userFriends.length > 0; else empty">
    <div class="container friends-body">
        <div class="row justify-content-between">
            <div *ngFor="let friend of userFriends" class="col-5 mb-4 user" href="/profile"> 
                <a href="/profile/{{ friend.email }}">
                    <div class="row friends-friend-header justify-content-between">
                        <div class="col-lg-5">
                            <span class="userimage"><img src="{{ friend.avatar }}" alt=""></span>
                            <span class="username"> {{ friend.name }} <small></small></span>
                        </div>
                        <div *ngIf="checkIfFriend(friend)" class="col-lg-3">
                            <button type="button" class="btn btn-success disabled">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                    <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                                </svg>
                                    Friends
                            </button>
                        </div>
                        <div *ngIf="checkIfOwner(friend)" class="col-lg-3">
                            <button type="button" class="btn btn-success disabled">
                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12   " fill="currentColor" class="bi bi-file-person" viewBox="0 0 16 16">
                                    <path d="M12 1a1 1 0 0 1 1 1v10.755S12 11 8 11s-5 1.755-5 1.755V2a1 1 0 0 1 1-1h8zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4z"/>
                                    <path d="M8 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                  </svg>
                                    You
                            </button>
                        </div>
                        <div class="col-lg-4"> {{ friend.email }} </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    </div>
</ng-template>

<ng-template #empty>
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div *ngIf="checkIfOwnerOfPage(); else notOwn" class="alert alert-primary" role="alert">
                You have no friends! 😅
            </div>
            <ng-template #notOwn>
                <div class="alert alert-primary" role="alert">
                    This user has no friends! 😅
                </div>
            </ng-template>
        </div>
    </div>
</ng-template>
<ngx-spinner></ngx-spinner>