<h1>POLÍTICA DE PRIVACIDADE</h1>
<p>Ultima Atualização: 23 de Janeiro de 2022</p>
<p>É aconselhada a leitura cautelosa desta política de privacedade antes de usar os serviços da aplicação.</p>
<h2>Recolha de informação e Dados Pessoais </h2>
<p>Para poder usufruir dos serviços da aplicação Graphs4Social é necessária a reco-lha e o tratamento de dados pessoais no registo de uma conta na plataforma. Para isso, recolhemos os seguintes dados pessoais: </p>
<ul>
<li>
<p><strong>Dados de identificação:</strong> Nome, Data de Nascimento</p>
</li>
<li>
<p><strong>Dados personalizados:</strong> Tags, Avatar</p>
</li>
<li>
<p><strong>Dados de contacto:</strong> Email, Telefone, Conta Facebook, Conta LinkedIn</p>
</li>
</ul>
<h2>Utilização e Finalidade dos Dados Recolhidos</h2>
<p> Ao registar a conta do jogador são requisitados os seguintes dados pessoais:
<ul>
<li>
<p>Primeiro e último nome, utilizados como nome de utilizador</p>
</li>
<li>
<p>Email e palavra-passe, utilizados para efeitos de login na conta do utilizador</p>
</li>
<li>
<p>Data de nascimento, utilizada para efeitos de controlo de contas (verificação que o jogador apresenta uma idade superior a 16 anos do ao registar-se no sistema)</p>
</li>
<li>
<p>Uma ou mais tags, utilizadas para sugerir amigos com as mesmas em comum</p>
</li>
<li>
<p>Avatar, utilizado para ser visualizado no seu perfil, posts e comentários</p>
</li>
</ul>
<p>O fornecimento dos restantes dados como conta de Facebook e LinkedIn são facultativos e permitem personalizar o perfil, escolhendo que informações são partilhadas com restantes jogadores.
<p>Todos os dados do teu perfil são públicos para outros jogadores da aplicação e permitem serem utilizados na pesquisa de uma conta de utilizador na plataforma.</p> 
<h2>Responsável pelo Tratamento dos Dados Recolhidos</h2>
<p>A empresa Graphs4Social Lda. é a responsável pelo tratamento de todos os da-dos pessoais disponibilizados no âmbito da utilização da aplicação.</p>
<ul>
<li>
<p><strong>Nome:</strong> Graphs4Social Lda</p>
</li>
<li>
<p><strong>NIPC:</strong> 242818196</p>
</li>
<li>
<p><strong>Morada:</strong> Rua Dr. António Bernardino Almeida, 431</p>
</li>
<li>
<p><strong>Localidade:</strong> Porto, Portugal</p>
</li>
<li>
<p><strong>Email:</strong> info@g4s.com</p>
</li>
<li>
<p><strong>Telefone:</strong> (+351) 987654321</p>
</li>
</ul>
<h2>Prazo de Conservação dos Dados Pessoais</h2>
<p>Estes serão conservados até deixarem de ser necessários para a utilização da aplicação.</p>
<h3>Alteração e Eliminação de Dados</h3>
<p>Depois de registada, é permitida a alteração de dados pessoais de uma conta de um jogador, podendo este efetuar esta atualização no seu perfil. Para além disso, é permitido eliminar dados opcionais (por exemplo, conta de Facebook ou LinkedIn), não sendo possível a eliminação de dados essenciais ao funcionamento da aplicação, sendo apenas possível a alteração dos mesmos. Caso o jogador altere ou elimine certos dados da sua conta, estas mudanças serão imediatas.</p>
<h3>Desativação e Eliminação de uma Conta de Jogador</h3>
<p>É permitido desativar ou eliminar uma conta de utilizador a partir do seu perfil. Caso este escolha desativar a mesma, os dados pessoais da conta em questão deixarão de estar visíveis para os restantes jogadores, não sendo a conta sugerida ou de alguma forma apresentada ao restantes utilizadores. Contas desativadas poderão estar neste estado durante um período de 60 dias após a alteração, depois a conta e os dados da mesma serão permanentemente eliminados da aplicação. Por outro lado, caso este decida eliminar permanentemente a sua conta, esta é imediatamente eliminada, sem passar pelo período de desativação.</p>
<h3>Inatividade da Conta</h3>
<p>Uma conta que não apresenta atividade durante um período de 2 anos, terá os seus dados e conta permanentemente eliminados da aplicação. Login, publicação de posts, comentários, mudanças de qualquer forma dos dados de uma conta ou qualquer outra interação com a aplicação, conta como atividade.</p>
<h2>Fundamento de Licitude</h2>
<p>Os dados pessoais são recolhidos e utilizados:</p>
<ul><li>
<p>De acordo com o consentimento do jogador ao se registar no sistema</p>
</li>
<li>
<p>No caso da idade, para cumprir as obrigações legais relativamente ao artigo 8º, nº 1 do Regulamento Geral sobre a Proteção de Dados (RGPD)</p>
</li>
</ul>
<h2>Revocação do Consentimento</h2>
<p>O consentimento pode ser revocado a qualquer momento no perfil do jogador.</p>
<h2>Direitos do Utilizador</h2>
<p>O utilizador apresenta o Direito de Informação, o Direito de Acesso, o Direito de Retificação, o Direito de Oposição, o Direito ao Apagamento, o Direito à Limitação do Tratamento e o Direito de Portabilidade dos Dados. Estes direitos podem ser exercidos no perfil do mesmo. Para além disso, o utilizador tem direito de apresentar uma reclamação à Comissão Nacional de Proteção de Dados.</p>
<ul>
<li>
<p><strong>Morada:</strong> Av. D. Carlos I, 134, 1o 1200-651 </p>
</li>
<li>
<p><strong>Localidade:</strong> Lisboa, Portugal</p>
</li>
<li>
<p><strong>Email:</strong> geral@cnpd.pt </p>
</li>
<li>
<p><strong>Telefone:</strong> (+351) 987654321</p>
</li>
</ul>
<h1>TERMOS DE USO</h1>
<h2>Utilizador</h2>
<p>Na utilização da aplicação, o utilizador declara que tem mais de 16 anos de idade e leu a política de privacidade do site, concordando com a mesma na sua totalidade.</p>
<h2>Conteúdo Publicado</h2>
<p>A aplicação não apresenta moderação ativa, sendo qualquer informação incrimi-natória e inapropriada da inteira responsabilidade do utilizador que a publicou.</p>