    <section>
        <div class="row g-0">
            <div class="col-lg-7 d-none d-lg-block">
                <div id="carouselCaptions" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item img-1 min-vh-100 active">
                        </div>
                        <div class="carousel-item img-2 min-vh-100">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 d-flex flex-column align-items-center min-vh-100">

                <div class="col-8">

                    <div class="px-lg-5 pt-lg-4 pb-lg-3 p-4 mb-auto w-100">
                        <img src="/assets/layout/login/images/Logo.svg" class="img-fluid" />
                    </div>

                </div>
                <div class="align-self-center w-100 px-lg-5 py-lg-4 p-4">
                    <h1 class="font-weight-bold mb-4 text-center">Welcome back</h1>
                    <form class="mb-5" [formGroup]="loginForm">
                        <div class="mb-4" >
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" formControlName="email">
                        </div>
                        <div class="mb-4">
                            <input type="password" class="form-control mb-3" placeholder="Password" id="exampleInputPassword1" formControlName="password">
                            <a href="" class="form-text text-muted text-decoration-none">Forgot your password?</a>
                        </div>
                            <button type="submit" class="btn btn-primary w-100" (click)="login()">Login</button>
                    </form>
                </div>
                <div class="text-center px-lg-5 pt-lg-3 pb-lg-4 p-4 mt-auto w-100">
                    <p class="d-inline-block mb-0">Dont have an account?</p> <a href="" class="font-weight-bold text-decoration-none">  Create one now</a>
                </div>
            </div>
        </div>
    </section>