<div *ngIf="currentPlayer==undefined; else defined">
    
</div>

<div *ngIf="error">
    <div class="container">
        <div class="row justify-content-center">
            <h1 class="font-weight-bold my-5 mb-3 text-center">There was an error trying to obtain your connections, please try again later.</h1>
            <p></p>
            <div class="col-4">
                <button class="btn back btn-primary w-100" (click)="goBack()">Go back!</button>
            </div>
            <div class="col-4">
            <button class="btn back btn-primary w-100" (click)="refresh()">Try again now!</button>
            </div>
        </div>
    </div>
</div>

<ng-template #defined>
    <div class="container my-5">

        <div class="row justify-content-center">
            <div class="col-4">
                <h2>Current emotional status: <span class="text-info">{{ currentPlayer.emotionalStatus }} </span></h2>
            </div>
        </div>
        <form>
            <div [formGroup]="emotionForm" class="" ngNativeValidate>
                <div class="row justify-content-center">
                    <div class="col-12 my-5">
                        <select [ngClass]="{ 'is-invalid': f['emotionalStatus'].errors && (f['emotionalStatus'].dirty || f['emotionalStatus'].touched) }"
                            class="form-select form-control" aria-label="Default select example" formControlName="emotionalStatus" id="inputEmotionalStatus">
                            <option *ngFor="let emotion of emotions" value={{emotion}}> {{ emotion }} </option>
                        </select>
                        <div *ngIf="f['emotionalStatus'].errors" class="invalid-feedback">
                            <div *ngIf="f['emotionalStatus'].errors?.['required'] && (f['emotionalStatus'].dirty || f['emotionalStatus'].touched)">{{ getErrorMessageNameRequired() }}</div>
                        </div>
                    </div>
                        <div class="col-3">
                            <button class="btn back btn-primary w-100" (click)="save()">Change!</button>
                    </div>
                </div>
                <div class="my-3">
                    <div *ngIf="success!=undefined">
                        <div *ngIf="success">
                            <div class="alert alert-success" role="alert">
                                {{ successMessage }}
                            </div>
                        </div>
                        <div *ngIf="!success">
                            <div class="alert alert-danger" role="alert">
                                {{ errorMessage }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        
        </div>
</ng-template>

















<ngx-spinner></ngx-spinner>